body {
  font-family: Arial;
}

.header {
  display: flex;
  jusitfy-content: space-between;
  align-items: center 
}

.title {
  font-size: 1em;
}

.main {
  display:flex;
  jusitfy-content: space-between;
  align-items: center 
}

.input-form-left {

}

.input-form {

}

.textarea {
  padding:10px;
  border:none;
  border-radius:20px;
}

.input-button {

}
