body {
  font-family: Arial;
  padding:0;
}

.header {
  display: flex;
  jusitfy-content: space-between;
  align-items: center;
  background-color: lightgray;
}

.title {
  font-size: 1em;
  font-weight: bold;
}

.main {
  display:flex;
  jusitfy-content: space-between;
  align-items: center 
}

.input-form {
  display:flex;
  justify-content: space-evenly;
  align-items:center;
}

.input-form-left {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
}

textarea {
  padding:10px;
  border:none;
  border-radius:20px;
  width:30%;
  min-height:300px;
}

.input-button {
  color:white;
  font-weight:bold;
  background-color:blue;
  border:none;
  border-radius:15px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:18px;
  padding-right:18px;
  margin:0;
}
